@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30, 100%, 99%;
    --foreground: 0, 0%, 6%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 30, 100%, 99%;
    --popover-foreground: 0, 0%, 6%;

    --border: 0, 0%, 6%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 0, 0%, 49%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;
  }

  .dark {
    --background: 0, 0%, 6%;
    --foreground: 30, 100%, 99%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 20, 2%, 72%;
    --accent-foreground: 210 40% 98%;

    --popover: 0, 0%, 6%;
    --popover-foreground: 30, 100%, 99%;

    --border: 30, 100%, 99%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "transducer", sans-serif;
  --mobile-breakpoint: 800px;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none !important;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  vertical-align: bottom;
}

h1 h2 h3 h4 h5 h6 {
  cursor: default;
}

h1 {
  font-size: 2.625rem; /* 42px */
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 2.375rem; /* 38px */
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75rem; /* 28px */
  text-transform: uppercase;
}

h4 {
  font-size: 1.375rem; /* 22px */
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-size: 1.25rem; /* 20px */
}

h6 {
  font-size: 1.125rem; /* 18px */
}

p {
  font-family: "basic-sans", sans-serif;
  font-size: 1.25rem; /* 20px */
}
